body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000;

  #app {
    position: relative;
    background-color: #333;
    background-image: url('./static/images/cover/cover.png');
    background-size: cover;
    background-position: center;
    border: 10px solid #333;
    box-sizing: content-box;
    cursor: pointer;
    canvas {
      position: absolute;
    }
  }
}